@charset "utf-8";

@font-face {
    font-family: 'nanumsquare';
    font-weight: 400;
    src: url(../font/NanumSquareR.ttf) format('truetype');
   }
   @font-face {
    font-family: 'nanumsquare';
    font-weight: 700;
    src: url(../font/NanumSquareB.ttf) format('truetype');
   }
   @font-face {
    font-family: 'nanumsquare';
    font-weight: 800;
    src: url(../font/NanumSquareEB.ttf) format('truetype');
   }
   @font-face {
    font-family: 'nanumsquare';
    font-weight: 300;
    src: url(../font/NanumSquareL.ttf) format('truetype');
   }

/* 초기화css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,img,fieldset,legend,p,button,input,table,th,tr,td,a,form,figure,textarea,button {margin:0; padding:0;}

html, body, a, li, div, span, h1, h2, p { font-family: 'nanumsquare', sans-serif; line-height:150%; color:#000;letter-spacing:0px;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section, header, section, footer {display: block;}
blockquote, q {quotes:none;}

h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size:14px;}
img,fieldset,iframe {border:0; border-style:none;}/* 이미지링크선 표시 없음 */
caption,legend {visibility:hidden; height:0; font-size:0; line-height:0; width:0; overflow:hidden; text-align:left;}
table {border-collapse:collapse;border-spacing:0; }
table th {font-weight:normal;}
li {list-style:none;}
hr {display:none;}
img {vertical-align:top;}
a img{border: 0;}
span,label, select, input, textarea {vertical-align:top;}
button {border:0;background:transparent;cursor:pointer;font-size:16px;color:#000;font-family:"nanumsquare", "돋움", Dotum;}
em {vertical-align:top;font-style:normal;}
strong, b {font-weight:normal;}
label:focus,
label.focus {outline:1px dotted #606879;}

/* link */
a:link {color:#000;text-decoration:none;}
a:visited {color:#000;text-decoration:none;}
a:active {color:#000;text-decoration:none;}
a:hover {color:#000;text-decoration:none;}
.screen_out {overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px;}
/* ------------------------------------
	Global Classname
--------------------------------------- */

/*hidden flex & none*/
.invisible{display:none;}

/* 레이아웃 */
html{height: 100%;}
body{width:100%; height:100%; background:#f1f3f4;}
.wrapBody {width:100%; height:100%; }


/***** 메뉴 *****/
.gnb{float:left; width:380px; height:100%; background:#FFF; border-right:solid 1px #dbdcdd; }
.gnb h1{font-weight:800; font-size:28px;}
.title{margin:50px 0px 0px 45px;}
.title img{margin-bottom:7px;}
.menu {margin:50px 10px 0px 10px;}
.menu div{height:33px; margin-bottom:15px; padding-top:7px; }
.menu div a{font-weight:400; font-size:18px; color:#000; margin:0px 0px 0px 35px;}
.menu img{margin:0px 10px 0px 0px;}

.menu div.currentTap{background:#f1f3f4;}
.menu div:hover {background:#f1f3f4;}

.btnDefault_W{float:left; height:36px; min-width:60px; border:solid 1px #8d9498; padding:0px 10px; margin:30px 0px 0px 35px; background:#fff; border-radius:4px; font-size:17px; font-weight:600; font-family:'nanumsquare'; }
.btnDefault_W:hover{float:left; height:36px; min-width:60px; border:solid 1px #535a5e; padding:0px 10px; margin:30px 0px 0px 35px; background:#fff; border-radius:4px; font-size:17px; font-weight:600; font-family:'nanumsquare'; }

/*
.menu div {position: relative;}
.menu div div::after[aria-selected=true]{
    width: 3px; content: ''; display: block; position: absolute; top: 11px; height: 20px; background: #0072C9; left: 2px; right:unset; border-radius: 2px;
}
.menu div a {
    font-size: 16px; text-transform: uppercase;
    color: #000000;
    padding: 10px; display: block;
    transition: box-shadow 0.34s ease, background 0.34s ease;
    text-decoration: none;
}
.menu div a:hover {background:#f1f3f4;}
*/
/***** //메뉴 *****/

/* ------------------------------------------------------------------------------
Contents 레이아웃
------------------------------------------------------------------------------ */
.content{}
.cont img{position:absolute; float:left; margin:40px 0px 0px 40px;}
.cont h2{position:absolute; float:left; font-size:24px; font-weight:400;  margin:35px 0px 0px 460px;}

/*
.cont {padding: 15px;}
.cont .col_desc {
    border-bottom: 1px dashed #dbdbdb; 
    padding-bottom: 15px; margin-bottom: 15px;  
    color: #878787;
    line-height: 18px;
}
*/

.board{float:left; position:absolute; width:880px; background:#fff; border:solid 1px #dbdcdd; padding:30px; margin:100px 0px 0px 420px; border-radius:4px;}

.board .list01{}
.board h3{font-size:17px; font-weight:700; margin-bottom:10px;}
.board input[type=radio]{float:left; width:16px; height:16px; clear:both; margin-top:12px; }
.board label{float:left; margin:11px 0px 0px 5px; font-size: 16px;}

/*input*/
.board .inputLocation{float:left; width:500px; height:28px; border:solid 1px #dbdcdd; padding:0px 10px 0px 10px;}
/*input의 p태크*/
.board p{font-size:16px; font-weight:400; color:#000; font-family:'nanumsquare'; line-height:30px;} 
/*수정버튼*/
.board .mdbtn{float:left; height:30px; width:86px; border:solid 1px #8d9498; padding:0px 10px; margin:0px 0px 0px 10px; background:#fff; border-radius:4px; font-size:17px; font-weight:600; font-family:'nanumsquare';}
.board .mdbtn:hover{float:left; height:30px; width:86px; border:solid 1px #535a5e; padding:0px 10px; margin:0px 0px 0px 10px; background:#fff; border-radius:4px; font-size:17px; font-weight:600; font-family:'nanumsquare';}
/*파란버튼*/
.board .btnBlue{float:left; height:30px; width: 120px; padding:0px 10px; margin:0px 0px 0px 10px; background:#1a73e8; border-radius:4px; font-size:17px; font-weight:600; color:#fff; font-family:'nanumsquare';}
.board .btnBlue:hover{float:left; height:30px; width:120px; border:solid 1px #0b50ab; padding:0px 10px; margin:0px 0px 0px 10px; background:#1a73e8; border-radius:4px; font-size:17px; font-weight:600; color:#fff; font-family:'nanumsquare';}

.borderLine{position:relative; clear:both; width:100%; height:1px; margin:100px 0px 25px 0px; border-bottom:solid 1px #f1f3f4;}

.p_defalut{float:left; width:110px; margin:3px 10px 0px 0px;}

/*화면보호기 설정*/
.contentL{float:left; width:270px; height:550px; border-right:solid 1px #f1f3f4; margin:0px 0px 20px 0px;}
.contentR{float:left; width:560px; margin:0px 0px 0px 40px;}
.board .inputPW{float:left; width:300px; height:28px; border:solid 1px #dbdcdd; padding:0px 10px 0px 10px;}

.selectLocation{width:230px; height:450px; border:solid 1px #dbdcdd; overflow:auto; margin:0px 0px 20px 0px;}
.categoryName{height:32px;  margin:0px 10px 0px 10px; border-bottom:solid 1px #f1f3f4; padding:8px 0px 0px 5px;}
.categoryName h4{font-size:14px; font-weight:700;}
.selectLocation li{font-size:14px; font-weight:400; margin:10px 0px 0px 0px;}
.selectLocation .LocaCheck{width:16px; height:16px; margin:2px 7px 0px 15px;}

.board .btnSelectAll{float:left; height:30px; width:110px; padding:0px 10px; margin:0px 0px 0px 0px; background:#1a73e8; border-radius:4px; font-size:17px; font-weight:600; color:#fff; font-family:'nanumsquare';}
.board .btnSelectAll:hover{float:left; height:30px; width:110px; border:solid 1px #0b50ab; padding:0px 0px; margin:0px 0px 0px 0px; background:#1a73e8; border-radius:4px; font-size:17px; font-weight:600; color:#fff; font-family:'nanumsquare';}
.board .btnCancleAll{float:left; height:30px; width:110px; border:solid 1px #8d9498; padding:0px 10px; margin:0px 0px 0px 10px; background:#fff; border-radius:4px; font-size:17px; font-weight:600; font-family:'nanumsquare';}
.board .btnCancleAll:hover{float:left; height:30px; width:110px; border:solid 1px #535a5e; padding:0px 10px; margin:0px 0px 0px 10px; background:#fff; border-radius:4px; font-size:17px; font-weight:600; font-family:'nanumsquare';} 
/* //화면보호기 설정*/

/* SSO로그인 설정 / 재석표시 설정 / 발신표시 설정*/
.listExplanation{width:800px; height:120px; border:solid 1px #dbdcdd; margin:0px 0px 30px 0px;}
.listExplanation .listmargin{margin:-8px 0px 0px 20px; background: white;}

.listExplanation .whiteBar01{width:245px; height:30px; background:#fff; margin:-10px 0px 0px 15px;} 
.listExplanation .whiteBar02{width:155px; height:30px; background:#fff; margin:-10px 0px 0px 15px;} 
.listExplanation p{font-size:16px; font-weight:300; color:#000; font-family:'nanumsquare'; line-height:30px; margin:30px 0px 0px 25px;} 
.listExplanation label{margin:-9px 0px 0px 6px;}
.listExplanation input[type=radio]{margin:-8px 0px 0px 20px;}
/* //SSO로그인 설정 / 재석표시 설정 / 발신표시 설정*/


/* 도구모음 사용자 설정 _ 기본도구 */
.userSeticowidth{float:left; width: 250px; height: 48px; padding: 15px 5px 5px 10px; margin: 0;}
.userSeticowidth img{position:inherit; width:25px; height: 25px; margin: 5px 5px 0 10px;}
.userSeticowidth input[type=checkbox]{float:left; width:16px; height:16px; margin:8px; }
.userSeticowidth label{float:left; margin:8px 0px 0px 5px; font-size: 16px;}

.usrSetSelect select{width: 260px; height: 115px; margin: 20px; font-size: 16px; border: solid 1px #dbdcdd; padding: 0px 10px 0px 10px;}
.board .usrbtn{height:30px; width:86px; border:solid 1px #8d9498; padding:0px 10px; margin:20px 0px 0px 70px; background:#fff; border-radius:4px; font-size:17px; font-weight:600; font-family:'nanumsquare';}
.board .usrbtn:hover{height:30px; width:86px; border:solid 1px #535a5e; padding:0px 10px; margin:20px 0px 0px 70px; background:#fff; border-radius:4px; font-size:17px; font-weight:600; font-family:'nanumsquare';}


/* 버튼 */
.btn-div{text-align:right;font-size:0px}
.btn-div.center{text-align:center}
.btn-div a{box-sizing:border-box;display: inline-block;line-height:40px;height:40px;min-width:100px;text-align: center;font-size: 14px;font-weight: 700; margin-bottom: 15px;} 
.btn-div a + a{margin-left:5px;}
.btn-div:after{content:'';display:block;clear:both;}

.btn-div .btn .ico-init:before{content:'';display:inline-block;vertical-align:top;margin-right:5px;width:20px;height:40px;background-image:url(../images/ico_init.ico);background-position: center center;background-repeat:no-repeat;}
.btn-div .btn .ico-save:before{content:'';display:inline-block;vertical-align:top;margin-right:5px;width:20px;height:40px;background-image:url(../images/ico_save.ico);background-position: center center;background-repeat:no-repeat;}
.btn-div .btn .ico-print:before{content:'';display:inline-block;vertical-align:top;margin-right:5px;width:20px;height:40px;background-image:url(../images/ico_print.ico);background-position: center center;background-repeat:no-repeat;}

.btn-div.left{float:left}
.btn-div.right{float:right}
.btn-div.right .btn{min-width:130px}

/* 팝업 */
.layer-popup {display: flex; justify-content: center; align-items: center; position: fixed; z-index: 200; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); overflow: hidden; top: 0; left: 0; visibility: hidden; opacity: 0; transition: .2s }
.layer-popup.poped {opacity: 1; visibility: visible}
.layer-popup .popup-wrap {padding:20px;width:400px;background-color: #fff; overflow: hidden; max-width: 90%; box-shadow: 24px 24px 36px rgba(0,0,0,0.32);position:relative;}
.layer-popup .popup-wrap h3 {font-size:20px;font-weight:bold; text-align:left; word-break: keep-all;color:#000; margin: 0 0 18px 0;}
.layer-popup .popup-wrap .close {background: url(./img/ico_close.ico) center center no-repeat;width: 50px;height: 50px; position: absolute;right: 0px;top: 0px;text-indent: -9999px;display: block;} 

.layer-popup .popup-wrap .pop-cont{height: 100%; flex-direction: column;}
.layer-popup .popup-wrap .pop-cont .poplabel {display:inline-block; margin-bottom: 10px; color: #262626; font-size: 12px; line-height: 16px;}
.layer-popup .popup-wrap .pop-cont input[type=text] {
    width: 100%; height: 32px; margin-bottom: 18px; font-size: 14px; line-height: 20px;
    box-sizing: border-box; font-family: inherit; font-weight: 400; background: #FFFFFF; border: 1px solid #BEBEBE; color: #2B2B2B; padding: 0 11px; border-radius: 2px;
}
.layer-popup .popup-wrap .pop-cont input[type=password] {
    width: 100%; height: 32px; margin-bottom: 18px; font-size: 14px; line-height: 20px;
    box-sizing: border-box; font-weight: 400; background: #FFFFFF; border: 1px solid #BEBEBE; color: #2B2B2B; padding: 0 11px; border-radius: 2px;
}
.layer-popup .popup-wrap .pop-cont input[type=file] {
    width: 100%; height: 32px; margin: 5px 0 15px 0; font-size: 14px; line-height: 20px;
    box-sizing: border-box; font-family: inherit; font-weight: 400; background: #FFFFFF; color: #2B2B2B; padding: 0 11px; border-radius: 2px;
}

.layer-popup .popup-wrap .btn-div {width: 100%; display: flex; justify-content: space-between;}
.layer-popup .popup-wrap .btn-div button{
    flex:1; height: 32px; font-weight: 600; line-height: 20px;
    cursor: pointer; overflow: hidden; box-sizing: border-box; font-family: inherit; align-items: center; justify-content: center; min-width: 32px; padding: 0 8px; border: 2px solid transparent;
}
.layer-popup .popup-wrap .btn-div button + button{margin-left:5px;}

.layer-popup select{width:100%;height:34px;vertical-align: middle;border:1px solid #9db2c3}
.layer-popup table a{height:34px;vertical-align: middle;line-height:32px;background:#999999}
