body{
    width:784px;
  }
.div30{
  display: inline-block;
  height: 25px;
  padding: 10px 0 0 10px;
}
.kepco_img{
  float: left;
  margin: 2px 10px 0 0;
}
.loginout{
  float: left;
  margin-right: 10px;
}
.login{
  float: left;
  font-size: 13px;
  font-weight: bold;
}
.logout{
  float: left;
  font-size: 13px;
  font-weight: bold;
}
.user_id{
  color :#000a9c;
}
.naver1 .naver2{
  float: left;
}

.searchbox{
  float: left;
  margin-right: 8px;
}

.search{
  float: left;
  width:125px;
  margin-right: 6px;
}

.ico{
  float: left;
  width: 19px;
  height: 19px;
  margin-right: 8px;
}

.triangle {display:inline-block; border-style:solid; border: 5px solid; margin: 6px 0 0 3px;} 
.triangle.bottom {border-color:#000000 transparent transparent transparent;}
.triangle:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); background-color: #d4d4d4;}



.blind{visibility:hidden;width:0;height:0;font-size:0;text-indent:-9999px; }
.invisible{display:none;}

.area_con{}

.tb_con .logTri_con{border:1px solid #d3d6d8;border-radius:0 0 3px 3px;background:#eff2f4}
.tb_con .logTri_con ul{overflow:hidden;list-style:none; padding-inline-start: 10px;}
.tb_con .logTri_con li{float:left;width: 130px;}
.tb_con .logTri_con li a{display:block;width:125x;line-height:15px;color:#000;text-align: center; text-decoration:none;}
.tb_con .logTri_con li a:hover{text-decoration: underline;}

.tb_con .mail_con{border:1px solid #d3d6d8;border-radius:0 0 3px 3px;background:#eff2f4}
.tb_con .mail_con ul{overflow:hidden;list-style:none; padding-inline-start: 10px;}
.tb_con .mail_con li{float:left;width:115px;}
.tb_con .mail_con li a{display:block;width:100px;line-height:15px;color:#000;text-align: center; text-decoration:none;}
.tb_con .mail_con li a:hover{text-decoration: underline;}

.tb_con .letter_con{border:1px solid #d3d6d8;border-radius:0 0 3px 3px;background:#eff2f4}
.tb_con .letter_con ul{overflow:hidden;list-style:none; padding-inline-start: 10px;}
.tb_con .letter_con li{float:left;width:115px;}
.tb_con .letter_con li a{display:block;width:100px;line-height:15px;color:#000;text-align: center; text-decoration:none;}
.tb_con .letter_con li a:hover{text-decoration: underline;}

.tb_con .diary_con{border:1px solid #d3d6d8;border-radius:0 0 3px 3px;background:#eff2f4}
.tb_con .diary_con ul{overflow:hidden;list-style:none; padding-inline-start: 10px;}
.tb_con .diary_con li{float:left;width:115px;}
.tb_con .diary_con li a{display:block;width:100px;line-height:15px;color:#000;text-align: center; text-decoration:none;}
.tb_con .diary_con li a:hover{text-decoration: underline;}

.tb_con .mylink_con{border:1px solid #d3d6d8;border-radius:0 0 3px 3px;background:#eff2f4}
.tb_con .mylink_con ul{overflow:hidden;list-style:none; padding-inline-start: 10px;}
.tb_con .mylink_con li{float:left;width:115px;}
.tb_con .mylink_con li a{display:block;width:100px;line-height:15px;color:#000;text-align: center; text-decoration:none;}
.tb_con .mylink_con li a:hover{text-decoration: underline;}

.tb_con .auth_con{border:1px solid #d3d6d8;border-radius:0 0 3px 3px;background:#eff2f4}
.tb_con .auth_con ul{overflow:hidden;list-style:none; padding-inline-start: 10px;}
.tb_con .auth_con li{float:left;width:115px;}
.tb_con .auth_con li a{display:block;width:100px;line-height:15px;color:#000;text-align: center; text-decoration:none;}
.tb_con .auth_con li a:hover{text-decoration: underline;}


.tb_con .schTri_con{border:1px solid #d3d6d8;border-radius:0 0 3px 3px;background:#eff2f4}
.tb_con .schTri_con ul{overflow:hidden;list-style:none; padding-inline-start: 10px; padding-inline-end: 10px; width: 97%;}
.tb_con .schTri_con li{float:left;width:132px; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 0 0 0 3px;}
.tb_con .schTri_con li a{display:block;width:100px;line-height:15px;color:#000;text-align: center; text-decoration:none;}
.tb_con .schTri_con li a:hover{text-decoration: underline;}
.tb_con .schdel {float:right; width:20%; margin:5px;}